<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md">
        <h1 class="text-3xl font-bold text-center mb-6">Add Item</h1>
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/add/item" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="product_name" class="block text-gray-700 text-sm font-bold mb-2">Product name</label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="product_name" id="product_name">
            </div>
            {% with messages = get_flashed_messages(category_filter=["productName"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="price">Price</label>
                <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="price" name="price">
            </div>
            {% with messages = get_flashed_messages(category_filter=["price"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="mb-4">
                <label for="stock_quantity" class="block text-gray-700 text-sm font-bold mb-2">Stock Quantity</label>
                <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="stock_quantity" id="stock_quantity">
            </div>
            {% with messages = get_flashed_messages(category_filter=["stockQuantity"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="mb-4">
                <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Item image</label>
                <input type="file" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required name="image" accept="image/png, image/jpg, image/jpeg">
            </div>
            {% with messages = get_flashed_messages(category_filter=["image"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="mb-4">
                <label for="category_id" class="block text-gray-700 text-sm font-bold mb-2">Choose a Category</label>
                <select name="category_id" id="category_id" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option disabled selected hidden>Select a Category</option>
                    {% for category in categories %}
                    <option value={{category.category_id}}>{{category.category_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-4">
                <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" cols="30" rows="5" name="description" id="description"></textarea>
            </div>
            {% with messages = get_flashed_messages(category_filter=["description"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="flex items-center justify-between">
                <button type="submit" class="bg-gray-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Item</button>
            </div>
        </form>
    </div>
</body>

</html>
